<div class="text-center">
<h4>Welcome to fitting room! Try it on!</h4>
<div class="selected">
	<ul>
		<li  ng-repeat="data in selectedData" class="list" >
			<img ng-src="{{data.img}}" alt="{{data}}"><br>
			<button class="btn btn-default"ng-click="match(data)">Match Me!</button>
		</li>		
	</ul>	

	<div >
		<img ng-src="{{matchData.img}}" alt="{{matchData}}">
		<img ng-src="{{ran.img}}">
		<button class='btn btn-info' ng-click="like()">&#10084; them!</button>
		<button class='btn btn-default' data-id="{{NOTWORKINGYET}}" ng-click="addToShoppingBag($event)">Add both to bag!</button>
	</div>
</div>


<div class="row-fluid">
	<h5 class="text-left">Your friends also like: </h5>
  <div class="col-md-3 , matchingList">
  	<img src="{{models[0]['img']}}"></img>
  </div>
  <div class="col-md-3 , matchingList">
  	<img src="{{models[1]['img']}}"></img>
  </div>
  <div class="col-md-3 , matchingList">
  	<img src="{{models[2]['img']}}"></img>
  </div>
  <div class="col-md-3 , matchingList">
  	<img src="{{models[3]['img']}}"></img>
  </div>
</div>

