<!doctype html>
<html lang="en" ng-app="af">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">

  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="app.js"></script>
  <!-- <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script> -->
</head>
<body ng-controller='listController'>
<p>Abercrombie & Fitch</p>
<ul>
    <li ng-repeat="top in tops">
      <img src="{{top.img}}" alt="This is picture 1">
      <p>{{top.name}}</p>
      <p>{{top.desc}}</p>
      <p>{{top.price}}</p>
      <button ng-click="add()">Add To Cart!</button>
			<button ng-click="match()">Match Me!</button>
    </li>
  </ul>

</body>
</html>
